{% extends "base.html" %}


{% block content %}
<body>
    <div id="pageintro">
      <article>
        <p>Welcome to Pitch.</p>
        <footer>
            {%if current_user.is_authenticated %}

          <ul class="nospace inline pushright">
            <li><a class="btn" href="/post">See Pitches</a></li>
            <li><a class="btn" href="/post/{{current_user.id}}">My Pitches</a></li>

            {% else%}</ul>
            <ul>
                <li><a class="btn"  href="/post">Go To Pitches</a></li>

            <li><a class="btn" href="{{url_for('auth.register')}}">Join pitch</a></li>
          </ul>{%endif %}
        </footer>
      </article>
    </div>
</body>


{% endblock %}
