      <div class="wrapper row1">
        <header id="header" class="hoc clear">
          <div id="logo" class="fl_left">
            <h1><a href="/">Home</a></h1>
          </div>
          <nav id="mainav" class="fl_right">
            <ul class="clear">
              <li><a class="active" href="/pickuplines">Pickup Lines</a>

              </li>
              <li><a href="/technology">Technology</a>
              </li>
              <li><a href="/interview">Interview Pitch</a></li>
              <li><a href="/sales">Sales Pitch</a></li>
              <li><a href="/business">Business Pitch</a></li>
            </ul>
          </nav>
        </header>
